{{page-title 'User'}}
<div class="container">
  <input type="checkbox" id="show" name="show" {{on "input" this.toggleShow}} />
  <label for="show"> All</label><br>
  <div class="columns is-centered">

    {{#each this.results as |user|}}
      <User @user={{user}} />
    {{/each}}

  </div>
</div>